body {
font-family: 'PT Sans', sans-serif;
padding: 0;
margin: 0;
min-width: 1200px;
}

}
/*Меню*/
.menu{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
	}
.page-header {
	background: #ffcd34;
	color: #000;
	height: 75px;
	width: 100%;
		}
.page-header .page-nav { 
	margin-top: -50px;
	overflow: hidden;
	
	}
.logo-img {
margin-top: -25px;
margin-right: 10px;}

.page-header a {
	text-decoration: none;
	color: #000;}

.logo {
	font-size: 24px;
	text-decoration: none;
	color: black;
	float: left;
	
	margin-right: 165px;
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;
}
.main-nav {float: right;
	box-sizing: border-box;
}
.main-nav li {
	list-style: none;
	margin-right: 30px;
	display: inline-block;
}
.main-nav a {  
	color: black;
	text-decoration: none;
	font-size: 16px;
}
.callback {
	background:rgba(255,255,255,0.5);
	width: 120px;
	text-align: center;
	padding: 10px 25px;
}

/*промоблок*/
.promo:before {
	content: "";
	display: block;
	margin: 0 auto;
	height: 14px;
background-image: linear-gradient(135deg, #FFCD34 35%, #000 35%, #000 65%, #FFCD34 65%);
	background-size: 35px 14px;
}
.promo_container{
	overflow: hidden;
	width: 960px;
	margin: 0 auto;
}
.promo {
	background-image: url(../img/traktor.jpg);
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	height: 470px;
	margin: 0 auto;
	width: 100%;
}
.promo-title {
	font-size: 44px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 130px;
	margin: 0 auto;
}
.promo-text {
	font-size: 20px;
	color: white;
	width: 630px;
	padding: 15px 0;
	text-align: center;
	margin: 0 auto;
}
.catalog-btn {
	display: block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 220px;
	margin: 0 auto;
	text-align: center;
	border: solid 2px #ffcd34;
	padding: 10px 0;
}

/*заказ*/
.order:before
	{content: "";
display: block;
margin: 0 auto;
height: 14px;
background-image: linear-gradient(135deg, #FFCD34 35%, #000 35%, #000 65%, #FFCD34 65%);
background-size: 35px 14px;
}
.order-container {
	width: 960px;
	margin: -20px auto 0 auto;
	overflow: hidden;
}
.order {
	background-color: #202e3b;
	height: 175px;
}
.title {
	font-size: 24px;
	color: #ffcd34;
	padding-top: 35px;
	font-weight: normal;
}
.form_order {
    padding: 0px;
    margin: 0px;
    border: medium none;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
    overflow: hidden;
}
.form_column {
	float: left;
	padding: 10px;
	box-sizing:border-box;
}
.form_order input {
    padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #202E3B;
    border: 1px solid #FFCD34;
    border-radius: 0px;
    color: #FFF;
    font-size: 16px;
    box-sizing: border-box;
 }
.form_order select {
  	padding: 10px 20px;
    width: 100%;
    height: 100%;
    background-color: #202E3B;
    border: 1px solid #FFCD34;
    color: #FFF;
    font-size: 16px;
    box-sizing: border-box;
}
input.button-order {
    background-color: #FFCD34;
   color: #202E3B;
    font-size: 16px;
    font-weight: bold;
 }
/*Преимущества*/

.advantages-container {
	width: 960px;
	margin: 0 auto;
}
.advantages {
	background: white;
	height: 120px;
	vertical-align: middle;
	overflow: hidden;
}

.advantages-item {
	margin-top: 20px;
	width: 24%;
	display: inline-block;
	vertical-align: middle;
	overflow: hidden;	
}

.advantages-item p {	
	font-size: 13px;
}
.tools {
	background-position: 0 -150px;;
	display: inline-block;
	height: 40px;
	width: 42px;
	background-image: url(../img/sprite.png);	
	float: left;
	margin-right: 20px;
	margin-top: 20px;
	margin-left: 10px;
}
.worker{background-position: 0 -100px; 
	width: 46px;
	height: 50px;
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 20px;
	display: inline-block;
	background-image: url(../img/sprite.png);	
	float: left;
}
.border{background-position: 0 -50px; 
	margin-right: 10px;
	width: 45px;
	height: 50px;
	margin-top: 20px;
	margin-left: 10px;
	display: inline-block;
	background-image: url(../img/sprite.png);	
	float: left;
}
.operator{
	background-position: 0 0;
	width: 31px;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
	margin-left: 10px;
	display: inline-block;
	background-image: url(../img/sprite.png);	
	float: left;
}

/*Спецпредложения*/
.special-offers-container {
	width: 960px;
margin: 0 auto;
}

.special-offers {
	background-color: #f3f3f3;
	height: 400px;
}
.technic-nav {
	float: left;
	width: 250px;
	padding-top: 20px;
	padding-left: 20px;
	text-align: left;
	margin-right: 15px;
}
.subtitle {
	font-size: 26px;
	font-weight: bold;
}
.technic-nav a { 
	color: #202e3b;
	line-height: 38px;
	font-size: 16px;
}
.technic-nav li {
	list-style: none;
	margin-left: -40px;
}	
.offers {float: left;}
.offers .subtitle {margin-top:50px;}
.table-offers {width: 600px; 
border-collapse:collapse;
margin:0px;}
.table-offers td{ padding-left: 14px;}
.table-offers tr { 	height: 35px; }
.top-table {
	font-weight: bold;
	background-color: #dfdfdf;
}
.first-column-table {padding-right: 60px;}
.white-line {background-color: #ffffff;}

/*Цифры и отзывы*/
.numbers-and-reviews:before {
	content: "";
	display: block;
	margin: 0 auto;
	height: 14px;
background-image: linear-gradient(135deg, #FFCD34 35%, #000 35%, #000 65%, #FFCD34 65%);
	background-size: 35px 14px;}


.numbers-and-reviews-container{
	width: 960px;
	margin: 0 auto;
}
.numbers-and-reviews{
	height: 440px;
	clear: both;
	background: #202e3b;
	overflow: hidden;
}
.numbers{
	margin: 10px;
	float: left;
	width: 270px;
	vertical-align: left;
	margin-right: 50px;
}
.numbers-and-reviews .subtitle {
	color: #fff;
	font-weight: normal;
}
.numbers-list { 
	color: #9e9e9e;
	font-size: 18px;
	line-height: 36px;
	list-style: none;
	font-weight: bold;
	margin: 0px;
	padding: 0px;
}
.numbers-number{
	color: #f1b132;
	font-size: 38px;
	font-weight: bold;
	margin-right: 15px;
}
.reviews {float: left;
	width: 620px;
}
.rewievs-item {vertical-align: top;
	margin-bottom: 40px;
}
.rewievs-item img {
	width: 114px;
 	float: left;
 	margin-right: 10px;
 	border: 3px solid #f1b132;
 	border-radius:2px;
}
.rewievs-quote {
	display: block;
	font-size: 18px;
	color: #fff;
	font-style: italic;
}
.rewievs-author {
	font-size: 18px;
	color: #f1b132;
	font-weight: bold;
	margin-top: -5px;
	font-style: normal;
}
/*карта*/
.map:before{
	content: "";
	display: block;
	margin: 0 auto;
	height: 14px;
background-image: linear-gradient(135deg, #FFCD34 35%, #000 35%, #000 65%, #FFCD34 65%);
	background-size: 35px 14px;
}


/*портфолио меню*/
.portfolio-nav:before{
	content: "";
	display: block;
	margin: 0 auto;
	height: 14px;
background-image: linear-gradient(135deg, #FFCD34 35%, #000 35%, #000 65%, #FFCD34 65%);
	background-size: 35px 14px;
}
.portfolio-nav {
	background-image: url(../img/portfoliobackground.jpg);
	height: 105px;
	vertical-align: middle;
}

.portfolio-container {
	width: 960px;
	margin: 0 auto;
	overflow: hidden;
	vertical-align: middle;
}
.portfolio-nav .subtitle {
	color: #ffcd34;
	float: left;
	margin-right: 210px;
	font-weight: normal;
	display: inline-block;
	margin-top: 30px;
}
.portfolio-nav li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
margin-top: 25px;}
.portfolio-nav a {
	font-size: 16px;
	color: #fff;
	margin-right: 20px;}

/*портфолио основной блок*/
.porftolio-block{height: 500px;
background-image: url(../img/portfoliohouse.jpg);
background-size: cover;
background-repeat: no-repeat;}
.porftolio-block:before{
	content: "";
	display: block;
	margin: 0 auto;
	height: 10px;
	background: #000;
}
.portfolio-block-container{
	width: 960px;
	margin: 0 auto;
	overflow: hidden;

}
.potrfolio-item-container{
	margin-top: 100px;
	width: 320px;
	float: left;
	background-color: #fff;
	padding-right: 26px;
	padding-left: 30px;
	padding-bottom: 30px;
}
.potrfolio-subtitle {
	font-size: 20px;
	color: #202e3b;
	font-weight: bold;}
.potrfolio-item{
	font-size: 14px;
	color: #202e3b;
	line-height: 20px;
	margin-top: 10px;
	margin-bottom: 40px;
}
.portfolio-btn{
	width: 125px;
	height: 40px;
	font-size: 15px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 20px;
	background-color: #ffcd34;
	text-decoration: none;
	color: #202e3b;
margin-top: 20px;
}
.porftolio-block2{height: 500px;
background-image: url(../img/Portfoliobackgrounditem2.jpg);
background-size: cover;
background-repeat: no-repeat;}
.porftolio-block2:before{
	content: "";
	display: block;
	margin: 0 auto;
	height: 10px;
	background: #000;
}
.porftolio-block3{height: 500px;
background-image: url(../img/Portfoliobackgrounditem3.jpg);
background-size: cover;
background-repeat: no-repeat;}
.porftolio-block3:before{
	content: "";
	display: block;
	margin: 0 auto;
	height: 10px;
	background: #000;
}

/*футер*/
.page-footer {
	background: #202E3B;
	color: #fff;
	height: 75px;
	width: 100%;
		}
.page-footer a {
	text-decoration: none;
	color: #fff;}
.page-footer .main-nav a {  
	color: white;
	text-decoration: none;
	font-size: 16px;
}
.footercallback {
	color: #FFCD34;}



