body {
	font-family: 'PT Sans', sans-serif;
width: 1200px;
margin: 0;
 padding: 0;
}


/*Меню*/
.page-header {
	background: #ffcd34;
	color: #000;
	height: 75px;
	width: 100%;
	}
.page-nav { 
	overflow: hidden;
	}
.logo img {float: left;
margin-top: -15px;}
.logo {
	font-size: 24px;
	text-decoration: none;
	color: black;
	float: left;
	margin-left: 130px;
	margin-right: 165px;
	display: inline-block;
	margin-top: 20px;
	vertical-align: middle;

}
.main-nav {float: right;
	}
.main-nav li {
	list-style: none;
	margin-right: 30px;
	display: inline-block;
}
.main-nav a {  
	color: black;
	text-decoration: none;
	font-size: 16px;
}
.callback {
	background:rgba(255,255,255,0.5);
	width: 120px;
	text-align: center;
	padding: 10px 25px;
	}

/*промоблок*/
.promo {
	background-color:#ccc;
	background-image: url(img/traktor.jpg);
	background-repeat: no-repeat;
	height: 500px;
	margin: 0px;
	width: 100%;
	font-size: 0px;
}
.promo-title {
	font-size: 44px;
	color: white;
	font-weight: bold;
	text-align: center;
	padding-top: 130px;
}
.promo-text {
	font-size: 20px;
	color: white;
	width: 630px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;

}
.catalog-btn {
	display: block;
	color: white;
	font-size: 18px;
	font-weight: bold;
	width: 220px;
	margin: 0 auto;
	text-align: center;
	border: solid 2px #ffcd34;
	padding: 10px 0;
	}
/*заказ*/
.order {
	background-color: #202e3b;
	height: 175px;}
.title {
	font-size: 24px;
	color: #ffcd34;
	margin-left: 125px;
	padding-top: 35px;
	font-weight: normal;}

/*Преимущества*/
.advantages {background: white;}
.row {overflow: hidden;}
.advantages-item {
	float: left;
	font-size: 13px;
	width: 230px;
	margin: 15px;
	width: 225px;
	}
.advantages-icon {
	width: 60px;
	height: 60px;
	display: block;
	background-image: url(img/sprite.png);	
}
.tools {background-position: 0 -186px;}
.worker{background-position: 0 -256px;}
.border{background-position: 0 -46px; }
.operator{background-position: 0 -116px;}

/*Спецпредложения*/
.special-offers {
	background-color: #f3f3f3;
	height: 400px;
	width: 100%;
}
.technic-nav {
	float: left;
	width: 250px;
	padding-left:130px;
	padding-top: 30px;'
	text-align: left;
	margin-right: 15px;
	}
.subtitle {
	font-size: 26px;
	font-weight: bold;
	}
.technic-nav a { 
	color: #202e3b;
	line-height: 38px;
	font-size: 16px;
		}
.technic-nav li {
	list-style: none;
	}	
.offers {
	float: left;
	width: 700px;
	}

/*Цифры и отзывы*/
.numbers-and-reviews{
	height: 435px;
	clear: both;
	background: #202e3b;
	overflow: hidden;
}
.numbers{
	margin-left: 130px;
	float: left;
	width: 270px;
	vertical-align: left;
	margin-right: 50px;}
.numbers-and-reviews .subtitle {
	color: #fff;
	font-weight: normal;
}

.numbers-list { 
	color: #9e9e9e;
	font-size: 18px;
	line-height: 36px;
	list-style: none;
	font-weight: bold;
	margin: 0px;
	padding: 0px;

}
.numbers-number{
	color: #f1b132;
	font-size: 38px;
	font-weight: bold;
	margin-right: 15px;}

.reviews {float: left;
	width: 620px;
	}
.rewievs-item {vertical-align: top;
	margin-bottom: 40px;
	
	}
.rewievs-item img {
	width: 114px;
 	float: left;
 	margin-right: 10px;
 	border: 3px solid #f1b132;
 	border-radius:2px;
 	 	}
.rewievs-quote {
	display: block;
	font-size: 18px;
	color: #fff;
	font-style: italic;
	
	}
.rewievs-author {
	font-size: 18px;
	color: #f1b132;
	font-weight: bold;
	margin-top: -5px;
	font-style: normal;
}

/*карта*/
.map {height: 500px;
background-color: #c6c4bd;}
/*футер*/
.page-footer {
	background: #202e3b;
	color: white;
	height: 75px;
	width: 100%;
	}
.page-nav { 
	overflow: hidden;
	}
.page-footer .logo img {float: left;
margin-top: -15px;
}
.page-footer .logo {
	font-size: 24px;
	text-decoration: none;
	color: #ffcd34;
	float: left;
	margin-left: 130px;
	margin-right: 165px;
	display: inline-block;
	margin-top: 15px;

}
.page-footer .main-nav {float: right;
	}
.page-footer .main-nav li {
	list-style: none;
	margin-right: 30px;
	display: inline-block;
}
.page-footer .main-nav a {  
	color: white;
	text-decoration: none;
	font-size: 16px;
}
.page-footer .callback {
	color: #ffcd34;
	width: 120px;
	}




